<section class="partners">
    <div class="container">
        <div class="row">
            <h3>Partners we've supported</h3>
        </div>
        <div class="row">
            <ul>
                <li><img src="/img/logos/aon.svg" alt="AON" /></li>
                <li><img src="/img/logos/dmg-media.svg" alt="DMG Media" /></li>
                <li><img src="/img/logos/ezra.svg" alt="EZRA" /></li>
                <li><img src="/img/logos/firefly.svg" alt="Firefly" /></li>
                <li><img src="/img/logos/gallagher.svg" alt="Gallagher" /></li>
                <li><img src="/img/logos/hello-self.svg" alt="Hello Self" /></li>
                <li><img src="/img/logos/lane-clark-peacock.svg" alt="Lane Clark Peacock" /></li>
                <li><img src="/img/logos/moneyfarm.svg" alt="Money Farm" /></li>
                <li><img src="/img/logos/trinny.svg" alt="Trinny London" /></li>
                <li><img src="/img/logos/wtw.svg" alt="WTW" /></li>
            </ul>
        </div>
    </div>
</section>