<% include partials/header %>
<section class="hero full-width animated fadeIn">
	<img src="img/loading.svg" data-src="/img/about-us/main-image.jpg" alt="about-us"/>
</section>
<section id="about" class="about-us-main">
	<div class="container">
		<div class="row">
			<div class="text-row col-md-8 offset-md-2">
				<h4>Past, present &amp; future</h4>
				<p>Technology Recruitment isn't new, and when Spencer Scott formed in 2017 it wasn't our intention to reinvent the wheel, nor build a brand where we state on our website that we're the UK's numero uno.</p>
				<p>With years of recruitment experience under our belts, the team set out to look at what improvements were needed within the industry so clients and candidates would benefit from a better service. At first, to be able to create a solution, one needs to identify the problem. So, we set out to listen to two groups of people that we knew had all the answers, our clients and candidates!</p>
				<p>From the outset, Spencer Scott has been championing creativity, seeking out innovators and working with industry-leading organisations. Our aim, in the beginning, was to become recognisable by the technology community for building trust-based relationships while we sourced outstanding talent.</p>
				<img src="/img/about-us/image-1.jpg" alt="Spencer Scott 1" />
				<p>We take a simple but smart approach to technology recruitment which allows us to understand how our clients and candidates ensure quality within their work. We make sure that we know what we're talking about and we do this by listening first then reacting with the right questions second.</p>
				<p>Since 2017, the Spencer Scott team has grown in numbers and have done so without compromising on standards. We're proud to say that we still don't have a single KPI in the entire Company, and we don't intend on adopting any in the future.</p>
				<p>In 2019 we widened our focus, by working with the Embedded and Robotic Engineering Industry. It's something that truly complements our extensive knowledge of Software Development markets across the UK and Europe.</p>
				<p>At the end of 2019, we moved out from our original premises into a genuinely inspiring Grade II listed building in the heart of Reigate's beautiful Town Centre. We're surrounded by the picturesque Priory Park, a plethora of shops, restaurants and bars and every day we remind ourselves of how fortunate we are to have such a positive working environment. </p>
				<p>Another huge milestone for us was launching our Recruitment Academy, which runs every six months and opens the door to the next generation of technology recruitment superstars.</p>
				<img src="/img/about-us/image-2.jpg" alt="Spencer Scott 2" />
				<p>How many times have you had the interview question: "Where do you see yourself in 10 years from now?"</p>
				<p>Our answer is simple; delivering value to our clients and candidates.</p>
				<p>We've created a working environment that enables our team members to stay on top of the latest tech and methodologies. Our consultant's pair together, just as many software teams do today.</p> 
				<p>When we're not engaging with great quality candidates or amazing leading-edge clients - we're learning about new tech and how the industry is progressing.</p> 
				<p>The future is bright for the Spencer Scott team. We'll continue to be determined to find the right solutions for our clients and candidates. We'll embrace new ideas, new ways of working, and we'll continue with our passion for technology.</p> 
				<p>If you think you've got what it takes to join the Spencer Scott team and become a great tech recruiter, give us a call, we'd love to hear from you.</p> 
			</div>
		</div>
	</div>
</section>
<!-- <section class="instagram">
	<div class="container">
		<a href="http://instagram.com/hi_spencerscott" target="_blank">
			<img src="img/loading.svg" data-src="/img/about-us/instagram-title.png" class="title" alt="Spencer Scott on Instagram" />
		</a>
		<div id="instagram" class="row">
		</div>
	</div>
</section> -->
<% include partials/newsletter %>
<% include partials/footer %>