<% include partials/header %>
    <section class="full-width hero fadeIn join-us">
        <img src="img/loading.svg" data-src="/img/join/image-1.jpg" alt="Meet the team" />
    </section>
    <section class="join-us">
        <div class="container">
            <div class="row">
                <div class="text-row col-md-8 offset-md-2">
                    <h3>Your future is bright</h3>
                    <p>As a new associate at Spencer Scott, you will get the chance to work with an impressive client list placing candidates in technology roles across London and the wider UK! Right from the start, we will guide you on a path to success
                        with the proper training, tools and team mentor to help you build your own professional tech recruitment profile.</p>
                    <h5>Unique relationships</h5>
                    <p>We are always looking to add new talent to the team. We want to work with positive individuals, that can build relationships with people. It doesn't matter to us whether you have recruitment experience or not, what does matter though
                        is that you have a desire and determination to succeed!</p>
                    <h5>Help make a difference</h5>
                    <p>As part of our trusted team, you'll provide a recruitment service that will make a difference. Every day our highly experienced associates take on complex recruitment challenges that ultimately help candidates reach their career ambitions,
                        and working at Spencer Scott will mean you'll be a big part of that process.</p>
                </div>
            </div>
            <div class="row">
                <div class="text-row col-md-8 offset-md-2">
                    <h5>Did we mention the perks?</h5>
                    <p>We reward those that work hard. That's why we offer:</p>
                    <ul>
                        <li>
                            <i class="fas fa-file-medical"></i>
                            <h5>Health Plan</h5>
                            <p>Receive a private medical plan.</p>
                        </li>
                        <li>
                            <i class="fas fa-pound-sign"></i>
                            <h5>Company Pension </h5>
                            <p>We have a company pension scheme encouraging you to save for your future. We'll match contributions up to 4%.</p>
                        </li>
                        <li>
                            <i class="fas fa-gift"></i>
                            <h5>20 days leave + your birthday off</h5>
                            <p>Let's face it, do you want to be in the office on your birthday?</p>
                        </li>
                        <li>
                            <i class="fas fa-bicycle"></i>
                            <h5>Cycle to work scheme</h5>
                            <p>Spencer Scott helps you save money by spreading the cost of a new bike and accessories; that way, you can do your bit for the environment.</p>
                        </li>
                        <li>
                            <i class="fas fa-beer"></i>
                            <h5>Friday team drinks are on Spencer</h5>
                            <p>Our Friday team drinks are a chance for us to unwind and have a good chat about the week that's gone.</p>
                        </li>
                        <li>
                            <i class="fas fa-flag-checkered"></i>
                            <h5>Quarterly Learning Weekends</h5>
                            <p>We work as a team, and therefore we play like a team. Every quarter, we head off somewhere in the UK to take on various challenges from mountain climbing, coastal walking and even wine tasting!</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="text-row col-md-8 offset-md-2 values">
                    <h5>Our values</h5>
                    <p>
                        <strong>Pride & Quality</strong> - we are proud of what we do. We know that the work we do is necessary, and we take pride in doing it correctly and always leave something better than you found it! </p>
                    <p>
                        <strong>Energy & Urgency</strong> - we value energy and enthusiasm, and we want to use our skills, experience and ability to make hard work fun!</p>
                    <p>
                        <strong>Responsible</strong> - make only promises you can keep, then stick to those commitments. </p>
                    <p>
                        <strong>Entrepreneurial </strong> - step up and deliver, don't wait to be asked. Go heavy on the what and when, and go easy on the how! If you're 70% sure, then go for it.</p>
                    <p>
                        <strong>Generous</strong> - always be open to lending a hand as once upon a time it was you needing someone to foot the ladder! </p>
                    <p>
                        <strong>Natural</strong> - be your best self every day! Speak honestly, say it how it is but do so with respect. Treat others how you would like to be. </p>
                </div>
            </div>
        </div>
    </section>
    <% include partials/newsletter %>
        <% include partials/footer %>