<% include partials/header %>
    <section>
        <div class="container">
            <div class="row">
                <div class="text-row col-md-8 offset-md-2">
                    <h4>Privacy Policy</h4>
                    <p>When you use the services of Spencer Scott Ltd, you are trusting us with your personal information and with that we want you to understand what type of data we collect, the reasons why we collect it and what we do with it once we have
                        it.</p>
                    <p>The following is important information that we would like to share with anyone that uses the services of Spencer Scott Ltd.</p>
                    <p>In accordance with the General Data Protection Regulation that comes into effect on May 25th 2018, Spencer Scott Ltd is obliged to issue this information if we store your personal data in our Company Database.</p>
                    <p>Spencer Scott Ltd receives candidates personal data during the course of the recruitment services we offer and throughout the recruitment process. This data can include;</p>
                    <ul>
                        <li>Your full name</li>
                        <li>Your registered address (including postcode)</li>
                        <li>Your date of birth</li>
                        <li>Your email address(es)</li>
                        <li>Your telephone number(s) (mobile, home)</li>
                        <li>Your personal URL's (website, portfolio, professional profiles that are available in the public domain, e.g. Twitter, LinkedIn, Facebook, GitHub)</li>
                    </ul>
                    <p>Other data we ask for may include;</p>
                    <ul>
                        <li>Your career preferences</li>
                        <li>Your professional skill set</li>
                        <li>Your current employer/place of work</li>
                        <li>Your passport/visa (when requested by a client that works with Spencer Scott Ltd)</li>
                        <li>Current remuneration/benefits/bonuses</li>
                        <li>Desired remuneration/benefits/bonuses</li>
                        <li>Employment/personal references</li>
                    </ul>
                    <p>Spencer Scott Ltd may collect your personal data in the following ways:</p>
                    <ul>
                        <li>You subscribe to the spencerscott.london website.</li>
                        <li>You've applied for a job in response to a job advertisement on the spencerscott.london website.
                        </li>
                        <li>A Spencer Scott Ltd Associate has contacted you because they found your profile on an online database/ job board that you have subscribed to or registered your CV with and Spencer Scott Ltd uses that particular platform to source
                            the details of candidates.</li>
                        <li>We have received your details from another third party, for instance; a business colleague referred you to us.</li>
                        <li>You applied for a job advertisement which Spencer Scott Ltd published on an external job board, e.g. CWJobs, Jobsite or LinkedIn, etc.</li>
                        <li>You have met (in person) or spoken with a Spencer Scott Ltd Associate and have shared information or are sending your CV to Spencer Scott Ltd by email.</li>
                    </ul>
                    <p>When Spencer Scott Ltd receives your details in one of the above ways we save your information provided by you on our Company Database. Your information and application will be reviewed by Spencer Scott Ltd Associates who will then
                        potentially share that information with our clients to advance your job application, provided you have given your written consent to the Associate to do this.</p>
                    <p>When we receive your data, our Associates will;</p>
                    <ul>
                        <li>Inform you as to the source where your personal data originates from.</li>
                    </ul>
                    <p>Spencer Scott Ltd will collect and process your personal data for the following purposes:</p>
                    <ul>
                        <li>Introducing you to potential clients or employers for the purpose of securing a permanent or contractual job.</li>
                        <li>If we ask for a copy of your passport or visa, we do this as we may have to verify your identity and/ or the right to work within the United Kingdom.</li>
                        <li>Keeping your personal data on our Company Database for current and future job opportunities that may arise.</li>
                        <li>Clients may ask Spencer Scott Ltd to provide them with additional documentation (e.g. your passport details or references). If that happens we will ask for your permission to share this data with our clients.</li>
                    </ul>
                    <p>Spencer Scott Ltd does not share, rent or sell any personal information received with third parties unless you have given us specific permission to do so.</p>
                    <p>Spencer Scott Ltd will hold your data on our Company Database for a period of 6 months after it was last used. After the final obligation has been satisfied or following six months of non-usage, we will contact you and ask you if you
                        want to keep your details on our Company Database. If you do not indicate that you wish your details to be retained on our Company Database, we will delete your information.</p>
                </div>
            </div>
        </div>
    </section>
    <% include partials/footer %>