<!DOCTYPE html>
<html>
<!-- v.0.1 -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    <title>
        Register
    </title>


    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">

    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

</head>
<section>
    <div class="container">
        <div class="row">
            <div class="col-4 offset-4">
                <form action="/register" method="post">
                    <div class="form-group">
                        <label>Email Address</label>
                        <input class="form-control" type="text" name="username" placeholder="john.smith@spencerscott.london" pattern=".+@spencerscott.london" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" placeholder="password" required>
                    </div>
                    <button type="submit" class="btn blue">Sign Up</button>
                </form>

            </div>
        </div>
    </div>
</section>




<footer id="footer" class="footer">
    <section>
        <div class="container">
            <div class="row">
                <h4 class="tel">0203 865 8986</h4>
                <h3>Something Afoot</h3>
                <p>You've read all of our lovely content. Here's some more links to keep you going.</p>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <ul>
                        <li></li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">Past, present &amp; future</a></li>
                        <li><a href="/jobs">Our live roles</a></li>
                        <li><a href="/team">Meet the team</a></li>
                        <li><a href="/join">Vacancies in our team</a></li>
                        <li><a href="/contact">Get in contact</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul>
                        <li></li>
                        <li><a href="http://twitter.com/Hi_SpencerScott" target="_blank">Twitter</a></li>
                        <li><a href="https://www.instagram.com/hi_spencerscott/" target="_blank">Instagram</a></li>
                        <li><a href="https://www.linkedin.com/company/spencer-scott-ltd/" target="_blank">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <span>&copy; Spencer Scott 2020</span>
                <a href="https://www.instagram.com/kaiserbear" class="center kb" target="_blank"><img src="/img/kb.png" alt="Website designed by Kaiser Bear" /></a>
            </div>
        </div>
    </section>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/ss.js"></script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>

</body>

</html>