<% include partials/header %>
    <section class="full-width hero fadeIn team">
        <img src="img/loading.svg" data-src="/img/team/image-1.jpg" alt="Meet the team" />
    </section>
    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="text-row col-md-8 offset-md-2 teams">
                    <h4>Meet the team</h4>
                    <div class="team-profile">
                        <img src="/img/team/spencer.png" alt="Spencer Pratchett" />
                        <h4>Spencer Pratchett</h4>
                        <ul>
                            <li>
                                <a href="http://www.twitter.com/Hi_SpencerScott" target="_blank"><img src="/img/team/twitter.svg" alt="Spencer's Twitter account" /></a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/in/spencerscottltd/" target="_blank"><img src="/img/team/linkedin.svg" alt="Spencer's Linkedin account" /></a>
                            </li>
                            <li>
                                <a href="mailto:spencer@spencerscott.london" target="_blank"><img src="/img/team/email.svg" alt="Spencer's email address" /></a>
                            </li>
                        </ul>
                        <p>Spencer is the founder of the business. He has over two decades of experience working with people in the IT industry. His day usually consists of client management, target performance, and mentorship.</p>
                        <p>Away from the business, he has two loves in his life. One is his amazing wife, Anna, and the other is Tottenham Hotspur FC. It's best to ask Anna herself, which comes first.</p>
                        <hr />
                    </div>
                    <div class="team-profile">
                        <img src="/img/team/sam.png" alt="Sam Fawdry" />
                        <h4>Sam Fawdry</h4>
                        <ul>
                            <li>
                                <a href="http://www.twitter.com/Hi_SpencerScott" target="_blank"><img src="/img/team/twitter.svg" alt="Sam's Twitter account" /></a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/in/samfawdry/" target="_blank"><img src="/img/team/linkedin.svg" alt="Sam's Linkedin account" /></a>
                            </li>
                            <li>
                                <a href="mailto:tom@spencerscott.london" target="_blank"><img src="/img/team/email.svg" alt="Sam's email address" /></a>
                            </li>
                        </ul>
                        <p>A friendly and straight-talking Technology Recruiter, Sam has been helping software developers and technology professionals make positive career moves since 2010.</p>
                        <p>He's worked with start-ups, innovation labs, digital agencies, and continues to grow software companies today. Sam is a family man and a proud Charlton Athletic supporter.</p>
                        <hr />
                    </div>

                    <div class="team-profile">
                        <img src="/img/team/jay.jpeg" alt="Jay Hughes" />
                        <h4>Jay Hughes</h4>
                        <ul>
                            <li>
                                <a href="http://www.twitter.com/Hi_SpencerScott" target="_blank"><img src="/img/team/twitter.svg" alt="Jay's Twitter account" /></a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/in/jaylshughes" target="_blank"><img src="/img/team/linkedin.svg" alt="Jay's Linkedin account" /></a>
                            </li>
                            <li>
                                <a href="mailto:jay@spencerscott.london" target="_blank"><img src="/img/team/email.svg" alt="Jay's email address" /></a>
                            </li>
                        </ul>
                        <p>Jay is our design and technical consultant.</p>
                        <p>His focus has been to drive our digital thinking with over 15+ years experience.</p>
                        <hr />
                    </div>
                    <div class="team-profile">
                        <img src="/img/team/anthony.png" alt="Anthony Brewer" />
                        <h4>Anthony Michael</h4>
                        <ul>
                            <li>
                                <a href="http://www.twitter.com/Hi_SpencerScott" target="_blank"><img src="/img/team/twitter.svg" alt="Anthony's Twitter account" /></a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/in/anthony-michael-5b859619a/" target="_blank"><img src="/img/team/linkedin.svg" alt="Anthony's Linkedin account" /></a>
                            </li>
                            <li>
                                <a href="mailto:finance@spencerscott.london" target="_blank"><img src="/img/team/email.svg" alt="Anthony's email address" /></a>
                            </li>
                        </ul>
                        <p>Anthony is Spencer Scott's financial director and has been since it's inception. His work is invaluable and has helped the business with its growth and expansion.</p>
                        <p>He is a keen squash player, and can often be found running marathons in his spare time. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include partials/newsletter %>
        <% include partials/footer %>