<% include partials/header %>
    <section>
        <div class="container">
            <div class="text-row col-md-8 offset-md-2 terms col">
                <h4>Terms &amp; Conditions</h4>
                <iframe scrolling="no" src="http://jayhughes.co.uk/terms-conditions.html"></iframe>
            </div>
        </div>
    </section>
    <% include partials/footer %>